fieldset {
    border: none;
}

.question {
    width: 100%;
    padding: 20px 50px;
    margin: 50px 0;
    h4 {
        text-align: center;
        font-size: 3rem;
        font-family: $roboto-slab;
        color: $tuatara;
        padding: 0 40px;
    }
    .options-one {
        display: flex;
        margin: 50px 0;
        justify-content: space-around;
        .option {
            width: calc(33% - 40px);
            margin: 0 20px;            
            label {
                text-align: center;
                p {
                    font-family: $open-sans;
                    font-weight: 700;
                    font-size: 1.5rem;
                    margin-bottom: 40px;
                    text-transform: uppercase;
                    color: $oslo-gray;
                    transition: color 0.4s;
                }
                img {
                    width: 100%;
                    height: 466px;
                    transition: transform 0.4s;
                }
                &:hover, &:focus {
                    cursor: pointer;
                    p {
                        color: $west-side;
                    }
                    img {
                        transform: scale(1.11, 1.11);
                    }
                }
            }
            input {
                display: none;
            }
            input[type=radio]:checked + label {
                p {
                    color: $west-side;
                }
                img {
                    transform: scale(1.11, 1.11);
                }
            }
        }
    }
    .options-two {
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
        .option {
            width: 40%;
            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-family: $open-sans;
                    font-weight: 700;
                    font-size: 1.5rem;
                    margin-bottom: 40px;
                    text-transform: uppercase;
                    color: $oslo-gray;
                    transition: color 0.4s;
                }
                img {
                    width: 322px;
                    height: 466px;
                    transition: transform 0.4s;
                }
                &:hover, &:focus {
                    cursor: pointer;
                    p {
                        color: $west-side;
                    }
                    img {
                        transform: scale(1.11, 1.11);
                    }
                }
            }
            input {
                display: none;
            }
            input[type=radio]:checked + label {
                p {
                    color: $west-side;
                }
                img {
                    transform: scale(1.11, 1.11);
                }
            }
        }
    }
    .options-three {
        display: flex;
        justify-content: space-around;
        margin: 50px 0; 
        .option {
            width: calc(33% - 20px);
            margin: 0 10px;
            text-align: center;            
            label {
                text-align: center;
                display: flex;
                align-items: center;
                p {
                    font-family: $open-sans;
                    font-weight: 700;
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: $oslo-gray;
                    transition: color 0.4s;
                    letter-spacing: 0.6px;
                }
                img {
                    width: 160px;
                    height: 160px;
                    transition: transform 0.4s;
                }
                &:hover, &:focus {
                    cursor: pointer;
                    p {
                        color: $west-side;
                    }
                    img {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
            input {
                display: none;
            }
            input[type=radio]:checked + label {
                p {
                    color: $west-side;
                }
                img {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
}

.submit-inputs {
    margin: 0 auto;
    text-align: center;
    button {
        color: $west-side;
        font-family: $roboto-slab;
        font-weight: 700;
        font-size: 2rem;
        padding: 15px 35px;
        border: 2px solid $west-side;
        border-radius: 5px;
        background: none;
        transition: background 0.4s;
        outline: 0;
        input {
            background: none;
            border: none;
            color: $west-side;
            text-transform: uppercase;
            font-weight: 700;
            outline: 0;
        }
        &:hover, &:focus, &:active {
            background: $west-side-alpha;
            outline: 0;
        }
    }
}

@media (max-width: 1024px) {
    .question {
        .options-one {
            .option {
                width: calc(33% - 8px);
                margin: 4px;
                &:last-of-type {
                    p {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 940px) {
    .question {
        .options-one {
            .option {      
                label {
                    img {
                        width: 100%;
                        height: 400px;
                    }
                    &:hover, &:focus {
                        img {
                            transform: none;
                        }
                    }
                }
                input {
                    display: none;
                }
                input[type=radio]:checked + label {
                    p {
                        color: $west-side;
                    }
                    img {
                        transform: none;
                    }
                }
            }
        }
        .options-two {
            .option {
                label {
                    img {
                        width: 322px;
                        height: 437px;
                    }
                    &:hover, &:focus {
                        img {
                            transform: none;
                        }
                    }
                }
                input {
                    display: none;
                }
                input[type=radio]:checked + label {
                    img {
                        transform: none;
                    }
                }
            }
        }
        .options-three {
            flex-direction: column;
            align-items: center;
            .option {
                margin: 30px 0;
                width: 90%;
                label {
                    p {
                        margin-left: 20px;
                    }
                    &:hover, &:focus {
                        img {
                            transform: none;
                        }
                    }
                }
                input[type=radio]:checked + label {
                    img {
                        transform: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .question {
        padding: 20px 5px;
        .options-one {
            // flex-direction: column;
            // align-items: center;
            .option {
                width: 33%;
                margin-top: 60px;
                label {
                    p {
                        margin-bottom: 40px;
                    }
                    img {
                        height: 308px;
                    }
                }
                &:last-of-type {
                    label {
                        p {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        .options-two {
            .option {
                width: calc(50% - 10px);
                margin: 0 5px;
                label {
                    img {
                        height: 415px;
                    }
                }
            }
        }
    }
}

@media (max-width: 515px) {
    .question {
        h4 {
            padding: 0 15px;
        }
        .options-one {
            .option {
                width: 90%;
                label {
                    img {
                        height: 293px;
                    }
                }
                &:first-of-type {
                    label {
                        p {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        .options-two {
            .option {
                width: 50%;
                margin-top: 60px;
                label {
                    p {
                        margin-bottom: 20px;
                    }
                    img {
                        height: 353px;
                    }
                } 
                &:hover, &:focus {
                    img {
                        transform: none;
                    }
                }
                input[type=radio]:checked + label {
                    img {
                        transform: none;
                    }
                }
            }
        }
        .options-three {
            .option {
                label {
                    img {
                        width: 110px;
                        height: 110px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .question {
        h4 {
            padding: 0;
        }
        .options-one {
            width: 100%;
            .option {
                width: 100%;
                label {
                    img {
                        height: 241px;
                    }
                }
                &:first-of-type {
                    label {
                        p {
                            margin-bottom: 40px;
                        }
                    }
                }
                &:nth-of-type(2) {
                    label {
                        p {
                            margin-bottom: 60px;
                        }
                    }
                }
            }
        }
        .options-two {
            .option {
                label {
                    img {
                        height: 305px;
                    }
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .question {
        h4 {
            padding: 0;
        }
        .options-one {
            width: 100%;
            .option {
                width: 100%;
                label {
                    img {
                        height: 210px;
                    }
                }
            }
        }
        .options-two {
            .option {
                label {
                    img {
                        height: 282px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .question {
        .options-one {
            .option:first-of-type {
                label {
                    p {
                        margin-bottom: 60px;
                    }
                }
            }
            .option:nth-of-type(2) {
                label {
                    p {
                        margin-bottom: 80px;
                    }
                }
            }
        }
    }
}